body {
  background-color: #111111;
  color: aliceblue;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.snake-box {
  background-color: aliceblue;
}

.food-box {
  background-color: greenyellow;
}

#board {
  width: 32vw;
  height: 32vw;

  padding: 10px;
  border: solid 1px wheat;

  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(20, 1fr);
  gap: 10px;
}
